# Dependencias
node_modules/

# Builds de Electron
dist/
out/
release/
# No ignorar la carpeta build/ porque contiene recursos para el empaquetado
# build/ 

# Binarios grandes
*.exe
*.dll

# Logs
*.log

# Archivos de entorno
.env
.env.local

# Cachés
.cache/
.temp/

# Configuraciones de editor
.vscode/
.idea/
.github/

# Archivos del sistema
.DS_Store
Thumbs.db
