/* tailwindcss */
@import 'tailwindcss';

.myTh {
	@apply px-6 py-3 font-bold text-gray-700;
	font-size: 18px;
}
.myThead {
	@apply bg-gray-100 border-b border-gray-200 bg-linear-to-r from-blue-200 to-indigo-200 text-lg;
}
input,
select,
textarea {
	@apply text-xl border-3 border-indigo-900;
}
.menu-item {
	position: relative;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 12px;
	transition: background 0.2s;
	font-weight: bold;
}

.menu-item:hover {
	background-color: #534aa7; /* Gris oscuro al pasar el mouse */
}
.submenu {
	position: absolute; /* ya debería estar así */
	z-index: 50; /* suficientemente alto para aparecer sobre todo */
}

/* Submenú desplegable */
.menu-item ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-image: linear-gradient(
		to right,
		rgb(49, 33, 111),
		rgb(23, 48, 95)
	);
	padding: 0.5rem 0;
	border-radius: 8px;
	min-width: 250px;
}

.menu-item:hover ul {
	display: block;
}

.menu-item ul li {
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background 0.2s;
	font-weight: bold;
}

.menu-item ul li:hover {
	background-color: #534aa7;
}
.bg-nuevaVenta {
	background-color: rgba(255, 255, 255, 0.75);
}
.bg-other {
	background-color: rgba(255, 255, 255, 0.5);
}
