/* tailwindcss */
@import 'tailwindcss';

body {
	min-height: 100vh;
}
.myTh {
	@apply px-4 py-3 font-bold text-gray-700;
	font-size: 18px;
}
.myThead {
	@apply bg-gray-100 border-b border-gray-200 bg-linear-to-r from-blue-200 to-indigo-200 text-lg;
}
.myClientThead {
	@apply bg-gray-100 border-b border-gray-200 bg-linear-to-r from-cyan-800 to-indigo-800 text-lg;
}
.myClientThead th {
	@apply text-white;
}

input,
select,
textarea {
	@apply text-xl border-3 border-indigo-900;
}
.menu-item {
	position: relative;
	padding: 0.7rem 1rem;
	cursor: pointer;
	border-radius: 12px;
	transition: background 0.2s;
	font-weight: bold;
	font-size: 17px;
}

.menu-item:hover {
	background-color: #534aa7; /* Gris oscuro al pasar el mouse */
}
.submenu {
	position: absolute; /* ya debería estar así */
	z-index: 50; /* suficientemente alto para aparecer sobre todo */
}

/* Submenú desplegable */
.menu-item ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-image: linear-gradient(to right, #31216f, #183262);
	padding: 0.5rem 0;
	border-radius: 8px;
	min-width: 250px;
}

.menu-item:hover ul {
	display: block;
}

.menu-item ul li {
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background 0.2s;
	font-weight: bold;
}

.menu-item ul li:hover {
	background-color: #534aa7;
}
.bg-nuevaVenta {
	background-color: rgba(255, 255, 255, 0.75);
}
.bg-other {
	background-color: rgba(255, 255, 255, 0.5);
}
.chart-box {
	min-width: auto;
	min-height: 400px;
	max-width: 100%;
	width: 100%;
}

@media (min-width: 768px) {
	.chart-box {
		min-height: 450px;
	}
}

@media (min-width: 1024px) {
	.chart-box {
		min-width: 600px;
		min-height: 500px;
	}
}

/* * Estilos para los botones del período * */
.btn-periodo {
	@apply px-4 py-2 bg-blue-600 text-white rounded-xl transition font-medium;
}

.btn-periodo:hover {
	@apply bg-blue-700;
}

.btn-periodo.active {
	@apply bg-indigo-700;
}

.btn-periodo.active:hover {
	@apply bg-indigo-800;
}

/* * Estilos para las tarjetas con efecto de desenfoque */
.tarjetas {
	backdrop-filter: blur(10px);
	@apply bg-white/60 rounded-2xl shadow;
}
